{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Détail de {{ book.title }}</h1>

    <ul>
        <li>{{ book.title }} [id: {{ book.id }}]</li>
    </ul>
</div>
{% endblock %}
