{% extends 'base.html.twig' %}

{% block title %}Hello BookController!{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Liste des livres</h1>

    <ul>
        {% for book in books %}
            <li>{{ book.title }} [id: {{ book.id }}]</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
