{% extends 'base.html.twig' %}

{% block title %}Hello EditorController!{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/var/www/lab-symfony7/src/Controller/Admin/EditorController.php</code></li>
        <li>Your template at <code>/var/www/lab-symfony7/templates/admin/editor/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
